<nav>
  <ul>
    <li>
      <a routerLink="/" >
        Home
      </a>
    </li>
    <li>
      <a routerLink="todo" >
        Todo
      </a>
    </li>
    <li>
      <a routerLink="curriculum" >
        Curriculo
      </a>
    </li>
    <li>
      <a routerLink="state" >
        State
      </a>
    </li>
    <li>
      <a routerLink="zone" >
        Zone
      </a>
    </li>
    <li>
      <a routerLink="city" >
        City
      </a>
    </li>
    <li>
      <a routerLink="district" >
        Distric
      </a>
    </li>
  </ul>
</nav>
<router-outlet></router-outlet>
